{{ define "main" }}

<div class="columns">
  {{ partial "pdf-icon" . }}
  <div class="column is-three-fifth">
    <h4 class="title is-4">Description</h4>
    {{.Content}}
  </div>
  <div class="column is-one-fifth">
    <h4 class="title is-4" id="possible-developments-title">Développements possible</h4>
      <div class="possible-developments">
          <ul>
            {{ range .Params.developments }}
            <li>
              <a href="{{ "/developments/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
            </li>
            {{ end }}
          </ul>
      </div>
  </div>
</div>

{{ end }}
