{{ define "main" }}
<!-- TODO pour l'instant il y a de la duplication de code avec
 le single.html de leçons  -->

<div class="columns">
  <div class="column is-one-fifth">
    <div class="pdf-link">
      <!-- using param file like in developements seems better -->
      <a href="/pdf/lessons/lesson_{{ .Params.number }}.pdf">
        <button type="button" name="button">
          <div class="pdf-icon">
            <i class="fas fa-file-pdf"></i>
          </div>
          <div class="pdf-title">
            {{ .Title }}
          </div>
        </button>
      </a>
    </div>
  </div>
</div>

{{ end }}
