/* HEADER */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 20px;
}
#navbar {
  height: 85px;
  width: 100%;
}

/* VIDEO */

.video-wrapper {
  width: 100%;
  text-align: center;

}

.video-wrapper .video {
  margin-top: 7%;
  width: 70%;
  text-align: center;
}
/* VIDEO THUMBNAIL */

.thumbnail-container {
  margin: 0;
  padding: 0;
}

.thumbnail-container .thumbnail {
  position: relative;
  text-align: center;
  margin: 10%;
  margin-top: 5%;
  margin-bottom: 0;
  margin-right: 0;
  padding: 0px;
}

.thumbnail-container .thumbnail .thumbnail-play-btn {
 position: absolute;
 top: 50%;
 left: 50%;
 margin-left: -22px;
 margin-top: -25px;
 z-index: 12;
}

.thumbnail-container .thumbnail .thumbnail-play-btn .icon {
  font-size: 50px;
  color: #363636;
}

.thumbnail-container .video-info {
  margin: 30px;
  margin-top: 0;
}

.video-description {
  margin-top: 1%;
  margin-left: 0;
  padding-left: 0;
}

#video-columns {
  border-bottom-color: #dbdbdb;
  border-bottom-style: solid;
}

/* BANNER */

.banner {
  margin-top: -20px;
}

.banner .banner-image {
  width: 100%;
  height: 100vh;
}

.banner .banner-content {
  width: 100%;
  text-align: center;
  top: 40%;
  background-image: linear-gradient(rgba(54,54,54, 0.7),rgba(54,54,54, 0.95), rgba(54,54,54,1));
  height: 70%;
  position: absolute;
}
.banner .banner-content h1,
.banner .banner-content h2 {
  color: #a1a1a1;
}

#banner {
  margin: 0;
}

/* LESSONS */

.tabs {
  display: flex;
  flex-wrap: wrap;
}


.tabs input[type="radio"] {
  display: none;
}

.tabs label {
  border:none;
  margin-left: 20px;
  margin-right: 20px;
}

.tabs .tab {
  border-top: solid;
  border-width: thin;
  border-color: #dbdbdb;
  width: 100%;
  padding: 20px;
  order: 1;
  display: none;
}

.tabs .tab label {
  text-decoration: none;
}


.tabs input[type="radio"]:checked + label + .tab {
  display: block;
}

.tabs input[type="radio"]:checked + label {
  border:solid;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-color: #dbdbdb;
  border-width: thin;
  margin-left: 20px;
  margin-right: 20px;
  z-index: 1000;
}

.lesson {
  text-align: center;
}

#lesson-title {
  margin-left: 10%;
}
/* DEVELOPMENTS */

#development-title {
  margin-left: 10%;

}
/* PDF links */

.pdf-link {
  padding: 10%;
}
.pdf-icon {
  font-size: 60px;
  color: #c70000;
}

.pdf-title:hover {
  color: blue;
}

/* FOOTER */

.footer {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
