{{ define "main" }}

<div class="columns">
  {{ partial "pdf-icon" . }}
  <div class="column is-three-fifth">
    {{.Content}}
  </div>
  <div class="column is-one-fifth">
    <h4 class="title is-4" id="possible-lessons-title">Leçons concernés</h4>
    <div class="possible-lessons">
        <ul>
          {{ range .Params.lessons }}
          <li>
            <a href="{{ "/lessons/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
          </li>
          {{ end }}
        </ul>
    </div>
  </div>
</div>

{{ end }}
