<!DOCTYPE html>
<html lang="en" dir="ltr">
  <body>
    <div class="block">
      <footer class="bg-black footer">
        <div class="content has-text-centered">
          <p>
            <strong>La machine à Math</strong> by Michael Lanselle<i class="fa-solid fa-chalkboard-alt"></i>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
          </p>
        </div>
      </footer>
    </div>

  </body>
</html>
