<!DOCTYPE html>
<html lang="en" dir="ltr">
  {{ partial "head" }}
  <body>
    {{ partial "header/site-header" }}
    <div class="block" id="banner">
      <div class="banner">
        <img src="/img/banner.jpg" alt="intégrales écrites au feutre sur tableau blanc" class="banner-image">
        <div class="banner-content">
          <h1 class="title is-1"> Bienvenue à la machine à Math</h1>
          <h2 class="subtitle"> Outil d'assistance complémentaire au cours de Mathématiques </h2>
        </div>
      </div>
    </div>
    {{ partial "footer/site-footer" }}
  </body>
</html>
